<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New card</title>
</head>
<body>
<!--method - с каким HTTP методом будет отправляться эта форма POST
атрибут action -> адрес URL на который пойдем передавать данные (все адреса в thymeleaf пишуться в @{})
object - передаем ему объект класса card-->

<form th:method="POST" th:action="@{/cards}" th:object="${card}">
    <label for="id">Id: </label>
    <input type="text" th:field="*{id}" id="id"/>
    <div style="color:red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id error</div>
    <br/>
    <label for="ownerId">Owner: </label>
    <input type="text" th:field="*{ownerId}" id="ownerId"/>
    <div style="color:red" th:if="${#fields.hasErrors('ownerId')}" th:errors="*{ownerId}">OwnerId error</div>
    <br/>
    <label for="cardAssociationName">Card Association Name: </label>
    <input type="text" th:field="*{cardAssociationName}" id="cardAssociationName"/>
    <div style="color:red" th:if="${#fields.hasErrors('cardAssociationName')}" th:errors="*{cardAssociationName}">Card Association Name error</div>
    <br/>
    <label for="cardNumber">Card Number: </label>
    <input type="text" th:field="*{cardNumber}" id="cardNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}">Card Number error</div>
    <br/>
    <label for="nameOnCard">Name On Card: </label>
    <input type="text" th:field="*{nameOnCard}" id="nameOnCard"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameOnCard')}" th:errors="*{nameOnCard}">Name On Card error</div>
    <br/>
    <label for="billingAddress">Billing Address: </label>
    <input type="text" th:field="*{billingAddress}" id="billingAddress"/>
    <div style="color:red" th:if="${#fields.hasErrors('billingAddress')}" th:errors="*{billingAddress}">Billing Address error</div>
    <br/>
    <label for="validFrom">Valid From: </label>
    <input type="text" th:field="*{validFrom}" id="validFrom"/>
    <div style="color:red" th:if="${#fields.hasErrors('validFrom')}" th:errors="*{validFrom}">Valid From error</div>
    <br/>
    <label for="expiryDate">Expiry Date: </label>
    <input type="text" th:field="*{expiryDate}" id="expiryDate"/>
    <div style="color:red" th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}">Expiry Date error</div>
    <br/>
    <label for="cardVerificationCode">Card Verification Code: </label>
    <input type="text" th:field="*{cardVerificationCode}" id="cardVerificationCode"/>
    <div style="color:red" th:if="${#fields.hasErrors('cardVerificationCode')}" th:errors="*{cardVerificationCode}">Card Verification Code error</div>
    <br/>
    <label for="dailyWithdrawalLimit">Daily Withdrawal Limit: </label>
    <input type="text" th:field="*{dailyWithdrawalLimit}" id="dailyWithdrawalLimit"/>
    <div style="color:red" th:if="${#fields.hasErrors('dailyWithdrawalLimit')}" th:errors="*{dailyWithdrawalLimit}">Daily Withdrawal Limit error</div>
    <br/>
    <label for="balance">Balance: </label>
    <input type="text" th:field="*{balance}" id="balance"/>
    <div style="color:red" th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}">Balance error</div>
    <br/>
<!--    <p th:text="${card.getOwnerId()}">VALUE</p>-->
<!--    <p th:text="${card.getCardNumber()}">VALUE</p>-->
<!--    <p th:text="${card.getNameOnCard()}">VALUE</p>-->
<!--    <p th:text="${card.getBillingAddress()}">VALUE</p>-->
<!--    <p th:text="${card.getValidFrom()}">VALUE</p>-->
<!--    <p th:text="${card.getExpiryDate()}">VALUE</p>-->
<!--    <p th:text="${card.getCardVerificationCode()}">VALUE</p>-->
    <input type="submit" value="CREATE"/>
</form>

</body>
</html>