<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
</head>

<body>
<h3>Card</h3>
<p th:text="${card.getOwnerId()}">VALUE</p>
<p th:text="${card.getCardAssociationName()}">VALUE</p>
<p th:text="${card.getCardNumber()}">VALUE</p>
<p th:text="${card.getNameOnCard()}">VALUE</p>
<p th:text="${card.getBillingAddress()}">VALUE</p>
<p th:text="${card.getValidFrom()}">VALUE</p>
<p th:text="${card.getExpiryDate()}">VALUE</p>
<p th:text="${card.getCardVerificationCode()}">VALUE</p>
<p th:text="${card.getDailyWithdrawalLimit()}">VALUE</p>
<p th:text="${card.getBalance()}">VALUE</p>
<br/>
<br/>
<!--ссылка для перехода на страницу редактирования клиента /cards/1/editCard -->
<a th:href="@{/cards/{id}/editCard(id=${card.getId()})}">EDIT</a>

<br/> <!--break-->
<hr/> <!--horizontal line-->
<!--кнопка удаления клиента-->
<form th:method="DELETE" th:action="@{/cards/{id}(id=${card.getId()})}">
    <input type="submit" value="DELETE"/>
</form>
</body>
</html>